* {
  box-sizing: border-box;
}
@page {
  margin: 0.75in 0.75in 0.5in;
}
html {
  16px;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h4,
h5,
h6 {
  font-size: 100%;
  line-height: 1.5em;
}
body {
  font-family: "Open Sans";
  color: #000;
  padding: 40px;
  max-width: 880px;
  margin: 0 auto;
}
@media screen and (max-width: 570px) {
  body {
    padding: 30px;
  }
}
@media screen {
  body.print-preview {
    max-width: 612pt;
    padding: 50.4pt;
  }
}
@media print {
  body {
    max-width: 100%;
    padding: 0;
  }
}
a {
  color: #3A3ADB;
}
p,
h3,
h4,
h5,
h4,
h5,
h6,
li {
  margin-bottom: 0.75rem;
  page-break-inside: avoid;
}
h3,
h4 {
  page-break-after: avoid;
}
h1 {
  font-size: 2.25em;
  line-height: 1.334em;
  margin: 0;
  font-family: "Muli";
  vertical-align: baseline;
}
h2 {
  font-size: 1.125em;
  line-height: 1.334em;
  margin: 0;
  padding: 0 0 10pt;
  color: #666666;
  font-style: italic;
  font-weight: 600;
}
h3 {
  margin: 0 0 0.5em;
  padding: 0.75rem 0 0.25rem;
  color: #434343;
  font-size: 1.25em;
  font-family: "Enriqueta";
  border-bottom: 2px solid #38761d;
}
h4 {
  padding-top: 0pt;
  font-style: italic;
  font-size: 1em;
  font-weight: 600;
}
h5 {
  font-family: "Varela Round";
  font-size: 1em;
  font-weight: normal;
}
.inline-list {
  font-style: italic;
}
.inline-header {
  font-weight: bold;
}
.resume-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.resume-header .header-section {
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial;
}
.resume-header .header-left {
  padding-right: 4%;
}
.resume-header .header-right {
  text-align: right;
}
.resume-header .contact-info a {
  display: block;
  text-decoration: none;
}
.nested-section .resume-content {
  margin-bottom: 0.75rem;
}
.sub-section-title {
  margin-bottom: 0.25rem;
  font-style: normal;
}
.simple-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0 2%;
}
.simple-list > li {
  padding: 0 2%;
  width: 33.33333333%;
}
@media screen and (max-width: 768px) {
  .simple-list > li {
    width: 50%;
  }
}
@media screen and (max-width: 570px) {
  .simple-list > li {
    width: 100%;
  }
}
.simple-list > li:before {
  content: "\0025cf  ";
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 2%;
}
.inline-list > li {
  display: inline-block;
  padding: 0 0.6rem;
  margin: 0;
  border-right: 1px solid #ddd;
}
.inline-list > li:last-child {
  border-right: none;
}
.chronological-items {
  list-style-type: none;
}
.chronological-item {
  display: block;
  margin: 20px auto;
  page-break-inside: auto;
}
.chronological-item .chronological-dates .time-length {
  font-size: 11pt;
  font-style: italic;
}
.chronological-item .company,
.chronological-item .school {
  display: block;
  font-style: italic;
  font-weight: normal;
}
@media screen and (max-width: 570px) {
  .chronological-item {
    margin-bottom: 40px;
  }
  .chronological-item .chronological-dates .time-length:before {
    content: '(';
  }
  .chronological-item .chronological-dates .time-length:after {
    content: ')';
  }
}
.education h4 {
  font-style: normal;
}
@media print{
  html {
    font-size: 90%;
  }
  .contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .contact-info a {
    color: #000;
    font-weight: bold;
    font-size: 0.85em;
    line-height: 1.6em;
  }
  .contact-info a:after{
    content: attr(data-label);
    display: block;
    font-weight: normal;
  }
  .resume-header .header-right {
    text-align: left;
  }
}
