{{#content}}

#### *{{date}}{{#dateInfo}} ({{.}}){{/dateInfo}}*
{{#title}}#### {{.}} {{#company}}/ {{.}}{{/company}}{{#location}} - {{.}}{{/location}}
{{/title}}
{{#description}}

{{.}}
{{/description}}
{{#expertise}}

Related expertise: {{.}}
{{/expertise}}
{{#projects}}

Key projects: {{.}}
{{/projects}}

***
{{/content}}
