{{#content}}

{{date}}{{#dateInfo}} ({{.}}){{/dateInfo}}
{{#title}}{{.}}{{/title}} {{#company}} / {{.}}{{/company}}{{#location}} - {{.}}{{/location}}
{{#description}}

{{.}}
{{/description}}
{{#expertise}}

Related expertise: {{.}}
{{/expertise}}
{{#projects}}

Key projects: {{.}}
{{/projects}}

----
{{/content}}
