<ul class="resume-description chronological-list{{#class}} {{.}}{{/class}}">
    {{#content}}
    <li class="chronological-item">
        {{#title}}
        <h4 class="chronological-title">{{.}}{{#company}} <span class="company">{{.}}{{/company}}{{#school}} <span class="school">{{.}}{{/school}}{{#location}} - {{.}}{{/location}}</span></h4>
        {{/title}}
        <h5 class="chronological-dates">{{{date}}}{{#dateInfo}} <span class="time-length">{{.}}</span>{{/dateInfo}}</h5>

        <div class="chronological-description">
            {{#titles}}<h5>{{.}}</h5>{{/titles}}
            {{#description}}
            <p>{{.}}</p>
            {{/description}}

            {{#expertise}}
            <p><span class="inline-header">Related expertise:</span> <span class="inline-list">{{.}}</span></p>
            {{/expertise}}

            {{#projects}}
            <p><span class="inline-header">Key projects:</span> <span class="inline-list">{{.}}</span></p>
            {{/projects}}
        </div>
    </li>
    {{/content}}
</ul>
