{{#content}}

{{#title}}{{.}}{{/title}}{{#company}}
{{.}}{{/company}}{{#school}}
{{.}}{{/school}}{{#location}} - {{.}}{{/location}}
{{date}}{{#dateInfo}} ({{.}}){{/dateInfo}}{{#titles}}
  - {{.}}{{/titles}}
{{#description}}

{{.}}
{{/description}}
{{#expertise}}

Related expertise: {{.}}
{{/expertise}}
{{#projects}}

Key projects: {{.}}
{{/projects}}

---
{{/content}}
