{{#content}}{{#title}}


### {{.}}{{#company}}
####{{.}}{{#location}} - {{.}}{{/location}}{{/company}}{{/title}}{{#school}}
##### {{.}}{{#location}} - {{.}}{{/location}}{{/school}}{{#date}}
###### *{{.}}{{#dateInfo}} ({{.}}){{/dateInfo}}*{{/date}}{{#titles}}
##### {{.}}{{/titles}}{{#description}}

{{.}}{{/description}}{{#expertise}}

**Related expertise:** {{.}}{{/expertise}}{{#projects}}

**Key projects:** {{.}}{{/projects}}
{{/content}}
