<pre>
{{ name }}
{{ title }}

{{#email}}
Email: {{.}}{{/email}}{{#website}}
Portfolio: {{.}}{{/website}}{{#phone_formatted}}
{{ phone_formatted }}
{{/phone_formatted}}

{{#sections}}

{{ title }}
====
{{{ rendered_content }}}
{{/sections}}
</pre>
