@media screen and (min-width: 571px) {
  .chronological-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  .chronological-item .chronological-title,
  .chronological-item .chronological-description,
  .chronological-item .chronological-dates {
    padding: 0 2%;
  }
  .chronological-item .chronological-title,
  .chronological-item .chronological-description {
    order: 2;
  }
  .chronological-item .chronological-title,
  .chronological-item .chronological-description {
    width: 660px;
    max-width: 75%;
    margin-left: auto;
  }
  .chronological-item .chronological-dates {
    width: 220px;
    max-width: 25%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: right;
    border-right: 2px solid #ccc;
  }
  .chronological-item .chronological-dates .time-length {
    display: block;
  }
}
@media print {
  .chronological-item .chronological-dates {
    max-width: 7.62em;
  }
}
