
@import "flexbox";
@import "variables";

@media @not-small-screen {
    .chronological-item {
        .flex-display;
        .flex-wrap(wrap);
        position: relative;

        .chronological-title,
        .chronological-description,
        .chronological-dates {
            padding: 0 @horizontal-spacing/2;
        }

        .chronological-title,
        .chronological-description {
            order: 2;
        }

        .chronological-title,
        .chronological-description {
            width: @description-width;
            max-width: @description-max-width;
            margin-left: auto;
        }
        .chronological-dates {
            width: @dates-width;
            max-width: @dates-max-width;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            text-align: right;
            border-right: 2px solid #ccc;

            .time-length {
                display: block;
            }
        }
    }
}
@media print {
    .chronological-item {
        .chronological-dates {
            max-width: 7.62em;
        }
    }
}
